# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Flask instance folder
instance/*
!instance/.gitkeep

# Environment variables
# .env

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite
*.sqlite3 

# Firebase credentials giu lai file firebase-auth
.firebase-auth.json

# Uploads folder
app/static/uploads/*
!app/static/uploads/.gitkeep